.name-fields {
	height: 15em;
	width: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 41em;
	margin-top: 10em;
	padding: 2em 4em 2em;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.input {
	padding: 5px;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: .5s;
	transition: .5s;
	outline: none;
	margin: .5em;
}

.input:focus {
	border: 3px solid #555;
}

.login-button {
	margin-top: 1em;
	border: none;
	background-color: #008cba;
	color: white;
	border: 2px solid #008cba;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: .4s;
	width: 100%;
}

.login-button:hover {
	background-color: white;
	color: black;
}

.register-link {
	margin-top: 1em;
	margin-left: 10.4em;
}
