.register-wrapper {
	display: flex;
	flex-direction: column;
	width: 22em;
	margin-left: 40em;
	margin-top: 4em;
	padding: 2em;
	background-color: white;
}

body {
	background-color: lightblue;
}

#register-button {
	margin-top: 1em;
	border: none;
	background-color: white;
	color: black;
	border: 2px solid lightblue;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: .4s;
	width: 100%;
}

#register-button:hover {
	background-color: lightblue;
	color: white;
}
