body {
	background-color: lightblue;
}

.register-wrapper {
	display: flex;
	flex-direction: column;
	width: 22em;
	margin-left: 40em;
	margin-top: 4em;
	padding: 2em;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputfield {
	padding: 5px;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: .5s;
	transition: .5s;
	outline: none;
	margin: .5em;
}

.inputfield:focus {
	border: 3px solid #555;
}

#register-button {
	margin-top: 1em;
	border: none;
	background-color: #008cba;
	color: white;
	border: 2px solid #008cba;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: .4s;
	width: 100%;
}

#register-button:hover {
	background-color: white;
	color: black;
}
