.card-container {
	margin-top: 2em;
	float: left;
	width: 18em;
	padding: 0 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #fffdd0;
}
