body {
	background-color: lightblue;
}

.register-wrapper {
	display: flex;
	flex-direction: column;
	width: 22em;
	margin-left: 40em;
	margin-top: 4em;
	padding: 2em;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
